body {
  background-color: #fff8dc;
  font-family: 'Georgia', serif;
  color: #2c2c2c;
}

header {
  background-color: #a48f77;
  color: #fff8dc;
  padding: 20px;
  text-align: center;
  font-size: 1.8rem;
}

.custom-navbar {
  background-color: #2f2a25;
}

.custom-navbar .nav-link {
  color: #fff8dc;
  font-weight: bold;
  padding: 10px 15px;
}

.custom-navbar .nav-link:hover {
  color: #d2b48c;
}

.custom-navbar .navbar-brand {
  color: #fff8dc;
  font-weight: bold;
}

.custom-navbar .form-control {
  background-color: #fff8dc;
  border-color: #ccc;
  color: #2f2a25;
}

.custom-navbar .btn-outline-success {
  border-color: #fff8dc;
  color: #fff8dc;
}

.custom-navbar .btn-outline-success:hover {
  background-color: #fff8dc;
  color: #2f2a25;
}

.mission-wrapper {
  max-width: 80%;
  margin: 60px auto 0 auto;
}

.floating-box {
  background-color: #cdf4b2;
  padding: 40px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.floating-box::before {
  content: "About Us";
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #a2c4b6;
  color: #2f2a25;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.grid-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
}

.box {
  background-color: #f4ecd5;
  height: 160px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.3s ease; 
}

.box:hover {
  background-color: #f0bdbc; 
  transform: scale(1.05); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.box:active {
  transform: scale(1); 
}

